.first-logo{
    width: 300px;
    margin-left: 170px;
    
}
#links{
    display: flex;
    justify-content: space-around;
    width:30%

}
header{
    display: flex;
    justify-content: space-between;
}
#aboutus{
 color: rgb(52, 180, 174);
 font-size: larger;
 font-style: italic;
 text-decoration: none;
}
#career{
color: grey;
font-size: larger;
font-style: italic;
text-decoration: none;
}
#departments{
    color: grey;
    font-size: larger;
    font-style: italic;
 text-decoration:none;
}
.first-content{
    text-align: center;

}
.second-content{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.pragraph{
    width:500px

}
.cici{
    color: rgb(52, 180, 174);
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card1{
    background-color: rgb(52, 180, 174);
font-size: 100%;
font-style: italic;
 text-decoration: none;
}
.card2{
    background-color: rgb(18, 112, 189);
    font-size: 100%;
    font-style: italic;
     text-decoration: none;
}
.card3{
    background-color:rgb(41, 39, 39);
    font-size: 100%;
    font-style: italic;
    text-decoration: none;
}
.hey{
    margin-left: 20px;
}


